@charset "utf-8";
* {
	margin: 0;
	padding: 0;
}
html, body {
	height: 100%; 
}
body {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #000;
	background-color: #FFF;
}
.flag_row {
	font-weight: bold;
	background-color: #FCF;
}
.epub_indicator {
	font-style: italic;
	font-size: 80%;
}
.nomatch_row {
	font-weight: bold;
	background-color: #FF0;
}
#pmid_table, #board_table {
	width: 100%;
	margin-bottom: 1em;
	display:none;
}
#pmid_table td, #board_table td {
	padding: 0.5em;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #666;
	vertical-align: top;
}
#pmid_table th, #board_table th {
	color: #FFF;
	background-color: #004489;
	text-align: left;
	padding: .5em;
	font-weight: normal;
}
#header {
	padding: 0.5em;
	background-color: #004489;
	color: #FFF;
	font-weight: bold;
	font-size: 170%;
	height: 40px;
}
#form_div {
	padding: 0.5em;
}
#form_div textarea {
	width: 100%;
}
#footer {
	height: 15px;
	font-size: 90%;
	text-align:right;
	padding-right: 0.5em;
	background-color: #004489;
	color:#FFF;
}
#footer a, #footer a:link, #footer a:visited {
	color: #FFF;
}
#modaldialog {
	display:none;
}
#license {
	padding: 0.5em;
	margin: 0.5em;
}
.ui-progressbar {
    position: relative;
	display:inline;
	float: right;
	width: 40em;
}
.progress-label {
    position: absolute;
    left: 50%;
    top: 4px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
}
#header img {
	float: right;
	margin: -0.5em;
}
#header a:link, #header a, #header a:visited {
	color:#FFFFFF;
	font-size: 70%;
}
